@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import "./aside.css";
@import "./entries.css";
@import "./entryForm.css";
@import "./footer.css";
@import "./header.css";

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

#container {
	display: flex;
	justify-content: space-between;
}

.containerLeft {
	flex: 0 1 80%;
}

.containerRight {
	margin-top: 10px;
	flex: 0 1 auto;
	justify-self: center;
}

.button {
    margin: 5px;
    border: 1px solid rgb(59, 59, 59);
    border-radius: 2px;
}

.moodRadio {
	margin-right: 10px;
	margin-left: 0px;
}